.rehype-code-title {
  @apply border-bright text-bright bg-main dark:bg-dark px-5 py-2 font-mono text-sm font-bold border border-b-0 rounded-t-lg;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.prose pre {
  @apply border-bright bg-main dark:bg-dark border;
}

.prose code {
  @apply px-1 py-0 border-gray-100 rounded-lg;
}

.prose pre code {
  @apply p-0 text-gray-200;
  border: initial;
}
.token.comment {
  @apply text-gray-500;
}
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-300;
}
.token.punctuation {
  @apply text-gray-300;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-400;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-violet-400;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-400;
}
.token.function,
.token.class-name {
  @apply text-pink-400;
}
.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

.highlight-line {
  @apply bg-white/10 px-2 py-1 rounded-sm;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply dark:text-gray-50 text-gray-800;
}

code:after {
  display: none;
}

code:before {
  display: none;
}
