.rehype-code-title {
  @apply dark:border-bright border-zinc-300 dark:text-bright text-main dark:bg-dark bg-zinc-100 px-5 py-2 font-mono text-sm font-bold border border-b-0 rounded-t-lg;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.prose pre {
  @apply dark:border-bright border-zinc-300 dark:bg-dark bg-zinc-100 leading-6 border;
}

.prose code {
  @apply px-1 py-0 border-gray-100 rounded-lg;
}

.prose pre code {
  @apply dark:text-gray-200 p-0 text-sm text-gray-700;
  border: initial;
}

.token.comment {
  @apply dark:text-white text-main italic text-opacity-50;
}
.token.prolog,
.token.doctype,
.token.cdata {
  @apply dark:text-gray-300 text-gray-700;
}
.token.punctuation {
  @apply dark:text-gray-300 text-gray-700;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply dark:text-green-400 text-green-500;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply dark:text-violet-400 text-violet-500;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply dark:text-yellow-500 text-yellow-600;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  @apply dark:text-blue-400 text-blue-500;
}
.token.function,
.token.class-name {
  @apply dark:text-pink-400 text-pink-500;
}
.token.regex,
.token.important,
.token.variable {
  @apply dark:text-yellow-500 text-yellow-600;
}

.highlight-line {
  @apply bg-white/10 px-2 py-1 rounded-sm;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply dark:text-gray-50 text-gray-800;
}

code:after {
  display: none;
}

code:before {
  display: none;
}
