@import './code.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply tablet:text-5xl text-3xl font-bold;
  }
  h2 {
    @apply tablet:text-4xl text-2xl font-semibold;
  }
  h3 {
    @apply tablet:text-2xl text-xl font-medium;
  }
  li,
  p {
    @apply tablet:text-xl text-lg font-light;
  }
  ul {
    @apply mb-4;
  }
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose {
  @apply flex flex-col max-w-full;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply dark:text-dark text-bright;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
